<h4>Medical Info</h4>

<table>
    <tr>
        <td><b>Name</b></td>
        <td><%= name %></td>
    </tr>
    <tr>
        <td><b>Brand</b></td>
        <td><%= brand %></td>
    </tr>
    <tr>
        <td><b>Company</b></td>
        <td><%= company %></td>
    </tr>
    <tr>
        <td><b>Price</b></td>
        <td><%= price %></td>
    </tr>
    <tr>
        <td><b>Isbn</b></td>
        <td><%= isbn %></td>
    </tr>
    
</table>


